@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Sofia+Sans:wght@300;400;500;600;700;800&family=Syne:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:lightgreen;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.container{
background-color: white;
width: 90vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 80px 50px;
  border-radius: 20px;
  box-shadow: 0 40px 40px rgba(38, 33, 61, 0.2);   
}

.Search{
    display: flex;
    justify-content: space-between;
}
.Search input{
    padding: 5px;
    width: 490px;
    border: none;
    outline: none;
    border-bottom: 3px solid lightgreen;
    font-size: 16px;
    margin-right: 20px;
}

.Search button{
    padding: 15px;
    width: 25%;
    border: none;
    background-color: lightgreen;
    color: black;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}

.result .nigeria{
    display: flex;
    flex-direction: column;
   align-items: center;
}


.result img{
    width: 250px;
  margin-top: 30px;
   
}
.result h1{
    margin-top: 20px;
    font-family: "syne";

}

.details{
    margin-top: 20px;
}

.details h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: "syne";
}

.error{
    margin-top: 80px;
    text-align: center;
    color: red;
    font-size: 20px;
    font-family: "roboto";
}


.btn {
    transition: all 0.3s ease-in-out;
    font-family: "syne", sans-serif;
  }
  
  .btn {
    width: 150px;
    height: 60px;
    border-radius: 50px;
    /* background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%); */
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 24px;
    color: white;
  }
  
  .btn:hover {
    transform: translateY(3px);
    box-shadow: none;
  }
  
  .btn:active {
    opacity: 0.5;
  }